.groove {border-style: groove;
    block-size: 3em}
.headline { 
font-weight: bolder;
color: black;
margin-left: 20%;
padding: .1em;
margin-bottom: 0.2em;
width: 50%;
}
.content { 
font-weight: bolder;
color: black;
margin-left: 10%;
padding: .1em;
margin-bottom: 0.2em;
width: 50%;
}
.a1 { 
font-weight: bolder;
color: black;
margin-left: 20%;
padding: .1em;
margin-bottom: 0.2em;
width: 50%;
}
textarea {resize: none;}
